h1{
font-size: 50px;
text-align: center;
color: #5FC2BA;
font-family: Avenir, sans-serif;
}

h2{
font-size: 30px;
text-align: center;
color: #5FC2BA;
font-family: Avenir, sans-serif;
}

p{
font-size: 20px;
text-align: left;
font-family: Avenir, sans-serif;
color: #3B556D;
}

body {
background-color: #FFFFFF;
}
